
.App {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
  flex-wrap: wrap;
}
.selection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.downblock{
  display:flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.days{
  display: flex;
  flex-direction: row;
  gap:30px;
  flex-wrap: wrap;
}